
table{
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    padding: 0 0 0 4px;
}
.boton{
    width: 42px;
    border: none;
    padding: 0;
}


main>table>tbody>tr>td>form>button,.botonBusca{
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
}
.botonVer {
    background-image: url('../img/ver.png');
    
}

.botonEditar {
    background-image: url('../img/editar.png');
}

.botonElimina {
    background-image: url('../img/eliminar.png');
}

.botonBusca {
    background-image: url('../img/busqueda.png');
    width: 20px;
    height: 20px;
}
.formBusca{
    justify-content: center;
}
