:root{
    --fondo-rojo:red;
    --fondo-gris: rgb(179, 168, 189);
}
body{ 
    display: flex;
    flex-wrap: wrap;
}
header{
    flex: 1 1 90%;
    font-size: 200%;
    text-align: center;
    background-color: var(--fondo-rojo);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

header>h1{
    flex: 1 1 60%;
    
}
header>img{
    flex: 1 1 20%;
    max-width: 150px;
}